
<% @compilations.each do |c| %>
<div class="media my-4">
  <img class="d-flex mr-3 rounded" src="<%= c.user.image_url %>" alt="<%= c.user.nickname %>">
  <div class="media-body">
    <h5 class="mt-0">
      <%= link_to c.title, compilation_path(c), class:'nostyle' %>
    </h5>
    <%= c.description %>
  </div>
</div>
<% end %>
