<style>
  .my-4{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .border-bottom{
    border-bottom: 1px solid #e9ecef;
  }
</style>

<div class="my-4 border-bottom">
  <h3><%= @compilation.title %></h3>
  <p><%= @compilation.description %></p>
</div>

<% @compilation.tweets.each do |t| %>
  <div class="my-4">
    <p><%= t.title %></p>
    <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><a href="<%= t.link %>"></a></blockquote>
  </div>
<% end %>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>