.border-bottom{
  border-bottom: 1px solid #e9ecef;
}

.border-top{
  border-top: 1px solid #e9ecef;
}

.text-l{
  font-size: 18px;
}
.text-m{
  font-size: 16px;
}
.text-s{
  font-size: 14px;
}

a.nostyle{
    color: #428BCA;
    text-decoration: none;
}

a.nostyle:hover, a.nostyle:focus {
    color: #2A6496;
    text-decoration: underline;
}